body {
  box-sizing: border-box;
  width: 400px;
}

.logo-frame img {
  height: auto;
  width: 250px;
}

.articleList-header {
  display: flex;
  justify-content: space-between;
}

#clearUnreadBtn {
  align-self: center;
}

/* Article Rows */

.article {
  display: flex;
  justify-content: space-between;
}

.left {
  max-width: 180px;
  padding: 0 15px 0 0;
}

.title h4 {
  margin: 10px 0;
}

.right {
  align-items: center;
  display: flex;
  padding: 0 0 0 15px;
  max-width: 120px;
}

/* Footer */

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.bug-icon {
  height: auto;
  width: 24px;
}